.app-page {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .navbar-content {
      background: linear-gradient(359.43deg, #ff5400 2.1%, #f17f21 98.52%);
      box-shadow: 4px 4px 15px rgba(122, 176, 225, 0.25);
      height: 1080px;
      position: relative;
      width: 112px;
      z-index: 999;
  }
  .navbar-logo {
      display: block;
      margin: 0 auto;
      padding-bottom: 81px;
      padding-top: 58px;
  }
  
  .navbar-icon {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 32px;
      justify-content: center;
      margin: 30px auto;
      position: relative;
      width: 32px;
      
  }
  
  .navbar-icon:hover {
      height: 60px;
      width: 60px;
      border-radius: 16px;
      background: #fff9f4;
      opacity: 0.5;
      justify-content: center;
      align-items: center;
  }
  .navbar-menu {
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(133, 178, 220, 0.25);
    height: 1080px;
    left: 112px;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    width: 285px;
    z-index: 50;
  }
  
  .navbar:hover .navbar-menu {
      transform: translateX(0);
    }
    
    .navbar-menu-list {
      list-style: none;
      margin: 0;
      padding-left: 0px;
      padding-top: 211px;
    }
  
    .navbar-menu-title {
      color: #373839;
      cursor: pointer;
      font-family: Mulish;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.015em;
      line-height: 21px;
      position: relative;
    }
  
    .menu-title-content {
      opacity: 0.8;
      padding-left: 32px;
    }
    .navbar-menu-title.roll .menu-title-content {
      color: #ff7506;
    }
  
    .navbar-menu-title + .navbar-menu-title {
      margin: 40px 0;
    }
  
    .menu-title-list {
      list-style: none;
      margin-top: 14px;
      padding-left: 0;
    }
  
    .menu-title-item {
      color: #373839;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      opacity: 0.7;
      padding: 14px 0 14px 66px;
    }
    .menu-title-item.menu-title-item--active {
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.015em;
      line-height: 20px;
      opacity: 1;
    }
    
    .menu-title-item:hover {
      background-color: #f0f3f6;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.015em;
      opacity: 1;
      transition: all linear 0.3s;
    }
  
    .content {
      background: url("./ImgNav/background.png") no-repeat right top;
      flex: 1;
      padding-left: 105px;
    }
  
    .user-account {
      align-items: center;
      display: flex;
      justify-content: end;
      margin-right: 49px;
      margin-top: 8px;
    }
  
    .user-avatar {
      height: 34px;
      width: 34px;
    }
    
    .user-name {
      color: #373839;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.015em;
      line-height: 20px;
      margin-left: 6px;
      padding-right: 25px;
      position: relative;
    }
    
    .user-name::after {
      border-left: 1px solid #823b00;
      content: "";
      display: block;
      height: 36px;
      margin: 0 12px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .user-logout {
      color: #ff7506;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      cursor: pointer;
    }
  
    .content-address {
      align-items: center;
      display: flex;
      cursor: default;
    }
    
    .content-previous {
      color: #c9c4c0;
      font-family: Mulish;
      font-size: 18px;
      letter-spacing: 0.015em;
      line-height: 21px;
    }
    
    .content-icon {
      color: #ff7506;
      margin: 4px 23px 0;
    }
    
    .content-present {
      color: #373839;
      font-family: Mulish;
      font-size: 48px;
      letter-spacing: 0.015em;
      line-height: 56px;
      margin: 0;
    }