.table-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.table-nav {
    display: flex;
}

.table-select {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.content-dshv {
    color: #CC5C00;
    font-family: Mulish;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    text-align: left;
}

.search-input {
    width: 320px;
    height: 40px;
    background: #F0F3F6;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    padding-left: 50px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    border: none;
    outline: none;
}
.list-table-content-dshv {
    padding: 0 65px;
}

.heading-table-dshv {
    height: 40px;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);;
    padding: 0 36px;
}

.content-heading-dshv {
    display: inline-flex;
    line-height: 40px;
    margin: 0px 95px 0 0;
    justify-content: flex-start;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.list-table-dshv.br-grey {
    background-color: #F0F3F6;

}
.list-dshv-item {
    display: flex;
    width: 1510px;
    height: 58px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.list-dshv-item-stt {
    position: absolute;
    left: 47px;
    display: block;
}
.list-dshv-item-name {
    position: absolute;
    left: 175px;
    display: block;
    width: 184px;
}
.list-dshv-item-mssv {
    position: absolute;
    left: 373px;
    display: block;
    width: 24px;
}

.list-dshv-item-gt {
    position: absolute;
    left: 522px;
    display: block;
    width: 33px;
}
.list-dshv-item-ns {
    position: absolute;
    left: 673px;
    display: block;
    width: 80px;
}
.list-dshv-item-sbp {
    position: absolute;
    left: 928px;
    display: block;
    width: 9px;
}
.list-dshv-item-cdmg {
    position: absolute;
    left: 1160px;
    display: block;
    width: 48px;
}

.list-dshv-item-tt {
    display: flex;
    position: absolute;
    left: 1346px;
    width: 143px;
    border: 1px solid #0B80EC;
    height: 37px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.list-dshv-item-tt.bd-red {
    border: 1px solid red;
    width: 152px;

}

.list-table-item-icon {
    position: absolute;
    right: -32px;
    display: block;
    width: 48px;
    height: 26.666667938232422px;
    width: 26.666667938232422px;
    top: 16px;
    border-radius: 0px;
}

.total-sv {
    font-family: Mulish;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #373839;
    font-weight: 600;
    margin-left: 1403px;
    margin-top: 20px;
}

.footer-nav {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 192px;
    margin-left: 1345px;
}

.footer-nav .footer-nav-page {
    display: flex;
    align-items: center;
}

.footer-nav .footer-nav-page .nav-page-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
}

.nav-page-item {
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 21px;
    padding: 4.5px 9px;
    color: #373839;
    margin: 0 4px;
    cursor: pointer;
}

.nav-page-item.bg-color {
    background-color: #FF7506;
    border-radius: 50%;
}

.nav-icon-footer {
    color: #373839;
    font-size: 18px;
    cursor: pointer;
}